* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#144261, #0c2d53);
}

.carousel-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 620px;
}

.carousel-wrapper {
    overflow: hidden;
    width: 420px;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 35px;
}

.card {
    cursor: pointer;
    width: 130px; 
    height: 180px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    &:first-child {
        margin-left: 15px;
    }
}

.card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.feedback {
    font-size: 14px;
    color: #555;
}

.nav-button {
    background-color: rgba(206, 206, 206, 0);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 3dvh;
}